<style>
    .active{
        background-color: #64748b;
        color: white;
        font-size: 15px;
    }
    .navbar-nav a:clicked{
        background-color: #64748b;
        border-radius: 5px;
    }
    .navbar-nav a:hover {
        background-color: #64748b;
        color: white;
        font-size: 15px;
      }
    .test {
        width: 60px;
        height: 60px;
        background-color: white;
    }
</style>
<div class="flex flex-wrap h-screen"> 
    {% csrf_token %}
    <div class="bg-dark p-3 m-3 rounded-lg flex flex-wrap">
        <div class="p-6 w-80 bg-slate-700 text-white rounded-lg ">
            <div class="flex border-double border-b-4 p-2">
                {% if user.profile_img %}
                    <img id="imgFileUpload" class="test rounded-circle" style="cursor: pointer" onclick="openFileInput()" src="{{user.profile_img.url}}" alt="profile-**" />
                    <input type="file" id="FileUpload1" style="display: none" >
                {% elif not user.profile_img.url%} 
                    <img id="imgFileUpload" style="cursor: pointer" onclick="openFileInput()" src="{{user.profile1.url}}" alt="profile-"  />
                {% else %}
                <img id="imgFileUpload" class="test rounded-circle" style="cursor: pointer" onclick="openFileInput()" src="{{user.profile_img}}" alt="profile-**" hidden/>
                <div id="avtaricon" class="test rounded-circle" onclick="openFileInput()">
                    <input type="file" id="FileUpload1" class="test rounded-circle" style="display: none">
                    <div class="m-2 pt-2 pl-4 text-4xl text-black">
                      {{user.username.0|capfirst}}
                    </div>
                </div>
                {% endif %}
                <div class="justify-content-center align-items-center m-4 text-2xl">{{user.username|capfirst}}</div>
            </div>
            <div class="navbar-nav  pt-2" id="expandDiv">
                <a href="{% url 'profile' %}" class=" text-xl hover:text-white flex text-center p-3 side-nav-group">
                    <i class="fa-solid fa-circle-user text-xl mr-4"></i>
                    <span class="hover:text-white text-xl">
                        Profile
                    </span>
                </a>
                <a href="{% url 'taskList' %}" class=" text-xl hover:text-white flex text-center p-3 side-nav-group">
                    <i class="fa-solid fa-list text-xl mr-4"></i>
                    <span  class="hover:text-white text-xl">
                        Task List
                    </span>
                </a>
                <a href="{% url 'notificationView' %}" class="text-xl hover:text-white flex text-center p-3 side-nav-group">
                    <i class="fa-solid fa-bell text-xl mr-4 "></i>
                    <span  class="hover:text-white text-xl">
                        Notifications
                    </span>
                </a> 
                <a href="{% url 'resetpasword' %}" class="text-xl hover:text-white flex text-center p-3 side-nav-group">
                    <i class="fa-solid fa-unlock-keyhole text-xl mr-4 "></i>
                    <span  class="hover:text-white text-xl">
                        Reset Password
                    </span>
                </a>
                <a class="text-xl hover:text-white flex text-center p-3 side-nav-group" data-modal-target="popup-modal" data-modal-toggle="popup-modal" >
                    <i class="fa-solid fa-power-off text-xl mr-4 "></i>
                    <span class="hover:text-white text-xl">
                        Logout
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>  
<div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-slate-700 rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
                <span class="sr-only">
                    Close modal
                </span>
            </button>
            <div class="p-6 text-center">
                <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                    Are you sure you want to Logout?
                </h3>
                <a href="/logout/" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                    Logout
                </a>
                <button data-modal-hide="popup-modal" type="button" class="text-black bg-gray-300 hover:bg-gray-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-800 dark:focus:ring-gray-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                    No, cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#expandDiv a").click(function () {
          $("#expandDiv .side-nav-group").removeClass("active");
          $(this).addClass("active");
        });
      
        var current_path = window.location
        $.each($("#expandDiv .side-nav-group"), function( key, value ) {
          if (window.location.href == value){
            $(this).addClass("active");
          }
        });
      
      });


      function openFileInput() {
        document.getElementById('FileUpload1').click();
      }
    
      document.getElementById('FileUpload1').addEventListener('change', function(event) {
        var previewOnProfile = document.getElementById("imgFileUpload");
        const file = event.target.files[0];
        var reader = new FileReader();
    
        reader.addEventListener(
          "load",
          function () {
              previewOnProfile.src = reader.result;
          },
        );
          if (file) {
            reader.readAsDataURL(file);
            const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            const fdata = new FormData();
            const xhttp = new XMLHttpRequest();
            const header = "X-CSRFToken";
    
            fdata.append("uploaded_file", file);
    
            xhttp.open("POST", "/profile/");
            xhttp.setRequestHeader(header, csrftoken);
            xhttp.send(fdata);
    
            xhttp.onload = () => {
                if (xhttp.readyState === 4) {
                    const received = xhttp.responseText;
                    if (xhttp.status === 200) {
                        previewOnProfile.setAttribute("src", received);
                        document.getElementById("avtaricon").addClass("hidden");
                        
                    } else {
                      console.log("error here---")
                    }
                  }
            };
            window.location.reload();
        }
        location.reload();  
      });
</script>

